
.name {font-size: 70px;
    font-family: "HG行書体";
    position: absolute;
    top: 80%;
    left: 30%%;
    padding: 10px;
    background-color: rgb(247, 245, 245);
    color: rgb(25, 9, 112);
    
    
    }
.syoku{font-size: 20px;
    font-family: "HG行書体";
    position: absolute;
    top: 93%;
    left: 20%;
    padding: 10px;
    background-color: rgb(247, 245, 245);
    color: rgb(25, 9, 112);
}

.box {  
    position: relative;
    text-align:right

    
}

