
.bokasi{
    position:relative;
   
}
.body {
    -webkit-text-size-adjust: 100%;
}

.name {font-size: 70px;
    font-family: "HG行書体";
    position: absolute;
    top: 85%;
    left: 17%;
    padding: 10px;
    background-color: rgb(247, 245, 245);
    color: rgb(25, 9, 112);
    
    
    }
.syoku{font-size: 20px;
    font-family: "HG行書体";
    position: absolute;
    top: 100%;
    left: 32%;
    padding: 10px;
    background-color: rgb(247, 245, 245);
    color: rgb(25, 9, 112);
}

