
.bokasi{
    
    width: 2000px;
    margin-right:auto;
}
.body {
    -webkit-text-size-adjust: 100%;
}

.name {font-size: 400%;
    font-family: "HG行書体";
    margin-left:50px
    
    padding: 1%;
    
    color: rgb(25, 9, 112);
    
    
    }
.syoku{font-size: 200%;
    font-family: "HG行書体";
    margin-left:50px
    padding: 1%;
   
    color: rgb(25, 9, 112);
}

